*{
	padding: 0;
	margin: 0;
}
#total{
	width: 1350px;
	height: 1500px;
	border:4px solid red;
	margin:100px auto;
	background-color: #f8f7f6;
}
#core{
	width: 1180px;
	height: 1310px;
	border:3px;
	margin-left: 80px;
	margin-right: 80px;
}
#one{
	width: 1180px;
	height: 43px;
	background-color: #fff;
}
#one1{
	width: 83px;
	height:20px;
	font-size: 12px;
	color: #9a9791;
	margin-top: 10px;
}
#one2{
	width: 95px;
	height:20px;
	margin-left:340px;
	margin-top:7px;
}
#one3{
	margin-left:15px;
	font-size: 12px;
	color: #9a9791;
}
#one0{
	font-size: 9px;
	color: #fe6c00;
	padding-left: 0px;
	font-weight: bold;
}
#two{
	width: 1180px;
	height: 86px;
	background-color: #fff;

}
#two1{
	width: 146px;
	height: 62px;
	margin-right: 108px;
	float: left;
}
#two2{
	width: 500px;
	height: 40px;
	border:3px;
	border:solid;
	border-color: #fe6c00;
	border-radius: 3px;
	float: left;
	margin-top: 15px;
}
#two3{
	width: 80px;
	height: 44px;
	background: #fe6c00;
	color:white;
	border:5px;
	border:solid;
	border-color: #fe6c00;
	border-radius: 3px;
	float: left;
	margin-top: 15px;
}
#two4{
	width: 80px;
	height: 40px;
	border:1px solid #9a9791;
	border-radius: 2px;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}
#two5{
	font-size: 8px;
	color: #9a9791;
}
#two6{
	text-align: center;
}
#two7{
	width: 80px;
	height: 40px;
	border:1px solid #9a9791;
	border-radius: 2px;
	float: left;
	margin-top: 20px;
}
#two8{
	width: 80px;
	height: 40px;
	border:1px solid #fe6c00;
	border-radius: 2px;
	float: left;
	margin-top: 20px;
	text-align: center;
	background-color: #fe6c00;
}
#two9{
	font-size: 10px;
	color: white;
}
#two10{
	width: 590px;
	height: 70px;
	float: left;
}
#two00{
	width: 290px;
	height: 80px;
	float: left;
	margin-left:40px;
}
#three0{
	width: 578px;
	height: 32px;
	float: left;
	margin-top: 10px;
}
#three1{
	font-size: 13px;
	color: #fe6c00;
	float: left;
}
#three2{
	color: #9a9791;
	font-size: 13px;
	float: left;
}
#three3{
	font-size: 13px;
	color: #aca9d3;
	float: left;
}
#three4{
	float: left;
}
li{
	float: left;
	list-style: none;
}
#a{
	width: 1180px;
	height: 40px;
	background-color: #000;
	float: left;
	margin-top: 10px;
}
#a1{
	width: 100px;
	height: 40px;
	color: #fff;
	float: left;
	background-color: #fe0d4a;
	text-align: center;
	line-height: 40px;
}
#a11{
	width: 100px;
	height: 40px;
	color: #fff;
	background-color: #000;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-left: 25px;
}
#a12{
	width: 167px;
	height: 40px;
	float: left;
	margin-left: 10px;
}
#b{
	width: 1180px;
	height: 35px;
	float: left;
}
#b1{
	color: #b5b1a9;
	font-size: 12px;
	line-height: 35px;
}
#c{
	width: 995px;
	height: 630px;
	background-color: #fff;
	float: left;
}
#c1{
	width: 180px;
	height: 630px;
	margin-left: 5px;
	background-color: #fff;
	float: left;
}
#box{
	width: 445px;
	height: 445px;
	float: left;
	margin-top: 10px;
	position: relative;
}
#d2{
	width: 410px;
	height: 65px;
	margin-left: 10px;
	margin-top: -200px;
	float: left;
}
#d3{
	/*border:2px #ff9003 solid;*/
	float: left;
}
.dd4{
	float: left;
}

#d5{
	float: left;
	margin-left: 245px;
}
#img1{
	width: 409px;
	height: 409px;
	float: left;
	border:1px #b5b1a9 solid;
	margin-bottom: 10px;
	position: absolute;
	top:0;
	left: 0;
}
#slider{
	width:130px;
	height:130px;
	position:absolute;
	left:0;
	top:0;
	background:#CCC;
	opacity:0.4;
	cursor: move;
	display:none;
	filter:alpha(opacity=40);
	
	}
#img2{
	border:1px red solid;
	position:absolute;
	left:409px;
	top:0;
	display:none; 
	width:409px;
	height:409px;
	overflow:hidden;
	background-color: #fff;
	}
#Bimg{
	position:absolute;
	width: 1200px;
	height: 1200px;
	left:0;
	top:0;
}
#e{
	width: 550px;
	height: 630px;
	float: left;
}
#e1{
	width: 470px;
	height: 90px;
	float: left;
	margin-top: 10px;
}
#e2{
	margin-top: 15px;
}
#e3{
	color: #676660;
	font-size: 12px;
	margin-top: 10px;
}
#f{
	width: 550px;
	height: 113px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
#f1{
	color: #000;
	float: left;
	font-size: 13px;
	margin-left: 20px;
}
#f2{
	color: red;
	margin-left: 75px;
}
#f3{
	width: 550px;
	height: 70px;
	float: left;
}
#f4{
	margin-top: 5px;
}

#f5{
	width: 550px;
	height: 60px;
	float: left;
	margin-left: 30px;
}
#ff5{
	border:0;
	width: 60px;
	height: 30px;
	display: block;
	float: left;
	background-color: #fff;
	margin:25px 10px 10px 50px;
	background: 0;
}
#ff6{
	background: none;
	border:0;
	width: 60px;
	height: 30px;
	display: block;
	float: left;
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 10px;
}
#f6{
	font-size: 13px;
	float: left;
	height: 40px;
	line-height: 60px;
}
.f7{
	width: 550px;
	height: 40px;
	float: left;
	font-size: 13px;
	margin-left: 30px;
}
.f717{
	float: left;
	margin-left: 50px;
}
.ff7{
	float: left;
	margin-left: 70px;
	width: 15px;
	height: 23px;
}
.f71{
	width: 20px;
	font-size: 13px;
	margin-left: 5px;
	float: left;
	height: 40px;
	width: 40px;
}
.ff9{
	float: left;
	height: 23px;
}
#ff8{
	float: left;
	width: 50px;
	height: 20px;
}
.fff8{
	float: left;
	height: 50px;
	width: 70px;
	margin-left: 20px;
}
.fff9{
	float: left;
	margin-left: 20px;
	color: #ff9003;
}
#f8{
	width: 550px;
	height: 50px;
	float: left;
}
.h{
	width: 550px;
	height: 50px;
	float: left;
	margin-top: 30px;
}
.h1{
	border:2px red solid;
	border-radius: 3px;
	color: red;
	width: 152px;
	height: 42px;
	background-color: #fff;
	margin-left: 30px;
}
.h2{
	border:2px red solid;
	border-radius: 3px;
	color: #fff;
	width: 152px;
	height: 42px;
	background-color: #ff0754;
	margin-left: 30px;
}

#nine{
	width: 1180px;
	height: 185px;
	float: left;
	border:1px solid;
	border-bottom-color: #ebeae8;
	border-top-color: #fff;
	border-left-color: #f8f7f6;
	border-right-color: #f8f7f6;
	background-color: #fff;
}
#nine1{
	width: 174px;
	height: 185px;
	float: left;
}
#nine2{
	width: 800px;
	height: 185px;
	float: left;
}
#nine3{
	width: 100px;
	height: 185px;
	margin-left: 30px;
	margin-top: 30px;
	float: left;

}
#nine4{
	font-size: 13px;
	color: #666560;
	margin-top: 10px;
}
#nine5{
	width: 190px;
	height: 185px;
	float: left;
	text-align: center;
	margin-top: 25px;
}
#ten{
	width: 1180px;
	height: 162px;
	float: left;
}
#ten1{
	width: 1180px;
	height: 20px;
	margin-left: 250px;
	margin-top: 10px;
}
#ten2{
	font-size: 13px;
	color: #666560;
}
#ten3{
	width: 1180px;
	height: 20px;
	text-align: center;
	float: left;
}
#ten4{
	width: 786px;
	height: 60px;
	float: left;
	margin-left: 200px;
}
#ten5{
	float: left;
}
.all{
	width: 100%;
	height: 100%;
	background-color: #dedcd8;
	z-index: 10;
	position: fixed;
	top:0;
	left: 0;
	display: none;
	background:rgba(200,200,200,0.5);
}
.tc{
	width: 406px;
	height: 221px;
	border:2px solid #aca9d3;
	margin-top: 300px;
	margin-left: 500px;
	float: left;
	background-color: #fff;
}
.tp{
	width: 264px;
	height: 43px;
}
.hh{
	margin-top: 70px;
	float: left;
	width: 398px;
	height: 114px;
}
